<div class="modal fade" id="discardChangesModal" tabindex="-1" aria-labelledby="discardChangesTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content custom-modal">
            <div class="modal-icon warning" aria-hidden="true">!</div>
            <h2 class="modal-title" id="discardChangesTitle">Discard unsaved changes?</h2>
            <p>Your changes will be lost if you close this form.</p>
            <div class="modal-actions">
                <button class="btn btn-light" type="button" data-bs-dismiss="modal">Keep editing</button>
                <button id="confirmDiscardButton" class="btn btn-warning" type="button">Discard changes</button>
            </div>
        </div>
    </div>
</div>
